*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 150px;
}
.banner img{
    width: 100%;
}

nav ul{
    list-style-type: none;
}

.link-item{
    display: inline-block;
}

.link-item a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.display-flex{
    display: flex;
}
.display-block{
    display: block;
}

.align-items{
    align-items: center;
}

.address{
    padding: 10px;
    border: .5px solid black;
}
.active{
    background-color: black;
    color: whitesmoke;
}

.container img{
    margin: 0 auto;
}

.row{
    max-width: 1280px;
    margin: 0 auto;
}

/* Intro section */

.intro-box{
    width: 50%;
    background-color: black;
    color: white;
}

.intro-img{
    background-image: url('../img/4A.png');
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.intro-img img{
    width: 100%;
}

/* App section */


.app-img{
    background-image: url('../img/TGS-Online_bannber.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 300px;
}

.app-store img{
    width: 20%;
}

/* Hired section */

.hired{
    background-color: antiquewhite;
}

/* Restaurant section */

.restaurant img{
    width: 10%;
    height: auto;
}

/* Form section */
.form{
    background-color: rgb(219, 219, 219);
}
/* Footer wide */
footer{
    background-color: black;
    color: white;
}