*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    max-width: 1280px;
    margin: 0 auto;
}

/* Flex layout*/
.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.display-flex{
    display: flex;
}
.display-block{
    display: block;
}

.align-items{
    align-items: center;
}


/* Header Wide */
nav{
    padding: 10px 20px;
}
.logo img{
    width: 130px;
}

nav ul{
    list-style-type: none;
}

.link-item{
    display: inline-block;
}

.link-item a{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    margin-left: 10px;
    margin-right: 10px;
}

.link-item a:hover{
    text-decoration: underline;
}

/* Main Wide */
/* Banner section */
.banner{
    background-image: url('../img/cover.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    max-height: 1200px;
}
.banner img{
    width: 100%;
}
/* Address section */

.address{
    margin: 20px;
}

.address-item{
    font-size: 13px;
    padding: 17px;
    margin: 1px;
    border: 0.2px solid black;
    cursor: pointer;
}
.active{
    background-color: black;
    color: whitesmoke;
}

.address-img{
    background-image: url('../img/chi.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 250px;
    display: block;
}

/* Intro section */
.intro{
    background-color: #000;
}
.intro-box{
    width: 50%;
    background-color: black;
    color: white;
    margin-left: 30px;
}

.intro-img{
    background-image: url('../img/4A.png');
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.intro-img img{
    width: 100%;
}

/* App section */


.app-img{
    background-image: url('../img/TGS-Online_bannber.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 300px;
}

.intro-btn{
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    color: #000;

}

.intro-sub-content{
    color: rgb(175, 175, 175);
    line-height: 1.4;
    font-weight: lighter;
    font-size: 14px;
    margin: 30px 0;
    width: 90%;
}

.intro-content{
    font-size: 22px;
    margin: 80px 0 30px 0;
}

.app-store img{
    width: 20%;
}

/* Hired section */

.hired{
    background-color: antiquewhite;
}

/* Restaurant section */

.restaurant img{
    width: 10%;
    height: auto;
}

/* Form section */
.form{
    background-color: rgb(219, 219, 219);
}
/* Footer wide */
footer{
    background-color: black;
    color: white;
}