*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    max-width: 1280px;
    margin: 0 auto;
}

/* Flex layout*/
.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.display-flex{
    display: flex;
}
.display-block{
    display: block;
}

.align-items{
    align-items: center;
}

.flex-wrap{
    flex-wrap: nowrap;
}

/* Header Wide */
nav{
    padding: 10px 20px;
}
.logo img{
    width: 130px;
}

nav ul{
    list-style-type: none;
}

.link-item{
    display: inline-block;
}

.link-item a{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    margin-left: 10px;
    margin-right: 10px;
}

.link-item a:hover{
    text-decoration: underline;
}

/* Main Wide */
/* Banner section */
.banner{
    background-image: url('../img/cover.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    max-height: 1200px;
}
.banner img{
    width: 100%;
}
/* Address section */

.address{
    margin: 20px;
}

.address-item{
    font-size: 13px;
    padding: 17px;
    margin: 1px;
    border: 0.2px solid black;
    cursor: pointer;
}
.active{
    background-color: black;
    color: whitesmoke;
}

.address-img{
    background-image: url('../img/chi.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 250px;
    display: block;
}

/* Intro section */
.intro{
    background-color: #000;
}
.intro-box{
    width: 50%;
    background-color: black;
    color: white;
    margin-left: 30px;
    max-height: 500px;
}

.intro-img{
    background-image: url('../img/4A.png');
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.intro-img img{
    width: 100%;
}

.intro-btn{
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    color: #000;

}

.intro-sub-content{
    color: rgb(175, 175, 175);
    line-height: 1.4;
    font-weight: lighter;
    font-size: 14px;
    text-align: justify;
    margin: 30px 0;
    width: 90%;
}

.intro-content{
    font-size: 22px;
    margin: 80px 0 30px 0;
}

/* App section */
.app{
    margin: 80px 40px;
}
.app-img{
    background-image: url('../img/TGS-Online_bannber.jpg');
    background-size:cover;
    background-position: center;
    width: 50%;
    height: 300px;
}

.app-store img{
    height: 40px;
}

.app-content{
    font-size: 20px;
}

.benefits{
    margin: 30px 0;
    color: palevioletred;
}

.benefits p{
    margin: 10px 0;
}
/* Hired section */

.hired{
    background-color: rgb(253, 247, 232);
}

.hired-img img{
    margin: 50px 0 0 40px;
}

.hired-box{
    text-align: center;
}

.hired-quote{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    line-height: 1.5;
    margin: 20px 0;
    font-weight: bold;
    color: rgba(221, 191, 21, 0.986);
}

.hired-content{
    text-align: left;
    font-style: italic;
    color: rgba(221, 191, 21, 0.986);
    font-size: 15px;
}

.hired-btn{
    margin-top: 30px;
    padding: 10px 30px;
    display: inline-block;
    border: 0.5px solid black;
    font-size: 14px;
}

.hired-btn:hover{
    background-color: black;
    color: #fff;
    cursor: pointer;
}
/* Restaurant section */

.res{
    margin: 50px 0;
}
.restaurant{
    margin-left: 30px;
    margin-bottom: 20px;
}

.restaurant img{
    width: auto;
    height: 55px;
    filter: grayscale();
    margin: 20px;
    opacity: 0.7;
}

.restaurant-item{
    border-bottom: 1px dotted rgb(187, 187, 187);
    border-left: 1px dotted rgb(187, 187, 187);
}

.restaurant img:hover{
    filter: none;
    cursor: pointer;
    opacity: 1;
}
.restaurant-concept{
    width: 130px;
    color: rgb(131, 131, 131);
}

.local-brand{
    font-size: 16px;
}

.text-concept{
    font-size: 10px;
    margin-top: 5px;
}

/* Form section */
.form{
    background-color: rgb(219, 219, 219);
}
/* Footer wide */
footer{
    background-color: black;
    color: white;
}